//Color Settings
@textbackground: #000;
@cattitle: #fff;
@bodybg:#FCFCFC;
@secondarybg: #EDEDED;

//Dimensional Settings
@catwidth:30%;
@radius:5px;
@containerwidth:90%;
@marginwidth:5%;

//Global Styles
// 
body {
	background:@bodybg;
	overflow-x:hidden;
}
#body-container{
	margin-right:@marginwidth;
	margin-left:@marginwidth;
	width:@containerwidth;
}

section#content{
	margin-right:@marginwidth;
	margin-left:@marginwidth;
	width:@containerwidth;
}

a:hover {
	text-decoration:none;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

//Header Styles
header#title {
	height:50px;
	width:@containerwidth;
	margin-right:@marginwidth;
	margin-left:@marginwidth;
	margin-top:20px;
	min-width:705px;

	h1 {
		font-family: 'Loved by the King', cursive;
		margin-bottom:0;
		float:left;
		font-size:3em;
		line-height:50px;
		padding-left:5px;
		
		a {
			color:black;
			
			:hover {
				color:black;
			}
		}
		}

	p {
		float:right;
		line-height:50px;
		font-style:italic;
		padding-right:5px;
	}
}

//Footer Styles
footer#base {
	width:@containerwidth;
	margin-right:@marginwidth;
	margin-left:@marginwidth;
	
	p.meta {
		float:left
	}
	
	p.credit {
		margin-top:10px;
		float:right;
	}
	
	a {
		color:darken(#808080, 30%);
	}
	
}

//Homepage Styling
ul.category-matrix {
	margin:auto;
	margin-left:5%;
	margin-right:5%;
	min-height:500px;
	width:100%;

	li {
		position:relative;
		float:left;
		display:block;
		width:@catwidth;
		display:none;
		list-style:none;
		margin-bottom:-5px;
		
		img {
			width:100%;
			height:auto;
		}
		
		header {
			background:fadeout(@textbackground, 40%);
			position:absolute;
			right:0;
			bottom:5px;
			height:20px;
			width:100%;
			text-align:right;
		
			h2 {
			font-size:0.9em;	
			line-height:20px;
			padding-right:10px;
			color:fadeout(@cattitle, 60%);
			}
		}
		
		p {
			color:darken(@secondarybg, 80%);
			padding:10px;
			font-size:1.5em;
			line-height:1.5em;
		}
		}
		
		li:hover {
			
			h2 {
			color:fadeout(@cattitle, 20%);
			text-decoration:none;
			-webkit-transition: background 0.5s linear;
			-moz-transition: background 0.5s linear;
			-o-transition: background 0.5s linear;
			transition: background 0.5s linear;
			}
			
			header {
				background:fadeout(@textbackground, 10%);
				-webkit-transition: background 0.5s linear;
				-moz-transition: background 0.5s linear;
				-o-transition: background 0.5s linear;
				transition: background 0.5s linear;

			}
		}
		
}
	
//Post Display
// 
header.expedition {
	width:@containerwidth - 3;
	margin-right:@marginwidth + 0.5;
	margin-left:@marginwidth + 0.5;
	background:@secondarybg;
	padding:1%;
	font-size:1.2em;
	position:relative;
		date {
		}
		img {
			height:60px;
			width:auto;
			position:absolute;
			right:0;
			top:15px;
		}
}
section#content {
	article.post {
		background:@secondarybg;
		float:right;
		width:30%;
		margin-right:0.5%;
		margin-left:0.5%;
		padding:1.20%;
		margin-top:15px;
		
			header {
				border-bottom: 1px solid darken(#eeeeee, 10%);
				
				date {
					text-transform: uppercase;
					font-size:0.7em;
				}
			}
			
			img {
				width:100%;
				height:auto;
			}
	}
	
}