@textbackground: #ffffff;

section.category-matrix {

	article {
		position:relative;
		float:left;
		height:auto;
	
		header {
			position:absolute;
			bottom: 0px;
			left:0px;
			width:100%;
			background:fadeout(@textbackground, 30%);
			}
			
		}
}